h1 {
    font-family: 'Lobster', cursive;
}

.item {
   text-align: 200px;
   border-radius: 100%;
   height: 240px;
   width: 240px;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: drop-shadow(0);
    -webkit-filter: drop-shadow(0);
}
img:hover{
    filter: drop-shadow(2px 4px 6px black);
    border-style: solid;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    -webkit-filter: drop-shadow(2px 4px 6px black);
}

 body {
     text-align: center;
 }
